# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
/.bundle/
/.vendor/
# In general you should check-in Gemfile.lock but we would not like to check-in in this repository. See https://github.com/kmyk/algorithm-encyclopedia/pull/136
Gemfile.lock

# backup files which `scripts/lint.py --fix` generates
*~
