// colors used in AtCoder
$rating-color-grey: #808080;
$rating-color-brown: #804000;
$rating-color-green: #008000;
$rating-color-cyan: #00c0c0;
$rating-color-blue: #0000ff;
$rating-color-yellow: #c0c000;
$rating-color-orange: #ff8000;
$rating-color-red: #ff0000;
$rating-color-black: #000000;

.rating-color-grey {
    color: $rating-color-grey;
}
.rating-color-brown {
    color: $rating-color-brown;
}
.rating-color-green {
    color: $rating-color-green;
}
.rating-color-cyan {
    color: $rating-color-cyan;
}
.rating-color-blue {
    color: $rating-color-blue;
}
.rating-color-yellow {
    color: $rating-color-yellow;
}
.rating-color-orange {
    color: $rating-color-orange;
}
.rating-color-red {
    color: $rating-color-red;
}
.rating-color-black {
    color: $rating-color-black;
}
