@import "jekyll-theme-primer";

@import "rating-colors";
@import "user-colors";

// toppage link
.toppage-link {
    font-size: small;
    font-weight: normal;
}

// the details in the index page
.algorithm-index-details > summary::-webkit-details-marker {
    color: grey;
    font-size: 60%;
}


// algorithm data
.algorithm-data {
    color: grey;
    font-size: small;
}

// footer links
.footer-links {
    float: right;
    color: grey;
    font-size: small;
}

// entry metadata
.entry-metadata {
    color: grey;
    font-size: small;
}
.entry-metadata .no-authors {
    border-bottom: solid 2px red;
}
.entry-metadata .no-reviewers {
    border-bottom: solid 2px red;
}
.entry-metadata dt {
    clear: left;
}
.entry-metadata dd {
    float: left;
}
.entry-metadata dl::after {
    content: "";
    display: block;
    clear: both;
}

// links in index.md
.draft-link svg.octicon {
    fill: grey;
}
.draft-link-external svg.octicon {
    fill: currentColor;
}

// footer links
#staging-environment-warning {
    color: red;
    font-size: large;
}
#staging-environment-warning.production-environment {
    display: none;
}
