<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.draft %}<meta name="robots" content="noindex,nofollow,noarchive">{% endif %}

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"></script>
    <script defer>
      document.addEventListener("DOMContentLoaded", function() {
        // This is workaround for `math_engine: mathjax` of GitHub Pages' Kramdown.
        const scripts = [];
        for (const script of document.getElementsByTagName("script")) {
            if (script.type == "math/tex") {
                scripts.push(script);
            }
        }
        for (const script of scripts) {
            const text = "$$" + script.textContent + "$$";
            script.parentNode.replaceChild(document.createTextNode(text), script);
        }
        // Use $...$ and $$...$$ for LaTeX. Disable \(...\) and \[...\] to avoid the confusion with the escape of Markdown.
        renderMathInElement(document.body, {
          delimiters: [
            {left: "$$", right: "$$", display: true},
            {left: "$", right: "$", display: false},
          ],
        });
      });
    </script>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
        <h1>
            {% if page.title contains site.title %}
                {{ page.title }}
            {% elsif site.title %}
                {% if page.algorithm.level %}<span class="rating-color-{{ page.algorithm.level }}">&#x25C9;</span>{% endif %}
                {{ page.title }}

                <div class="mt-auto float-right">
                  <a class="toppage-link" href="{{ site.url | relative_url }}">{{ site.title }}</a>
                </div>
            {% endif %}
        </h1>

      <div id="staging-environment-warning" class="production-environment">
        これはステージング環境です。5 秒後に自動的に本番環境 (<a href="{{ site.url }}">{{ site.url }}</a>) にリダイレクトされます。リダイレクトを抑止したい場合は <code>#noredirect</code> を付けた URL <a href="#noredirect">{{ page.url | relative_url }}#noredirect</a> を利用してください。
      </div>
      <script>
        // Do redirect when it is a staging environment.
        (function () {
          if (!location.href.match("{{ site.url }}")) {
            const div = document.getElementById("staging-environment-warning");
            div.classList.remove("production-environment");
            setTimeout(function () {
              if (!location.href.match("noredirect")) {
                location.href = "{{ site.url }}";
              }
            }, 5000);
          }
        })();
      </script>

      <main id="page-content" class="container-fluid">
      {{ content }}
      </main>

      <script>
        // Fix the internal links when it is a staging environment.
        (function () {
          if (!location.href.match("{{ site.url }}")) {
            const main = document.getElementById("page-content");
            const baseurl = location.origin + "{{ "/" | relative_url }}";
            for (const a of main.getElementsByTagName("a")) {
              if (new URL(baseurl).host == a.host && !a.href.startsWith(baseurl)) {
                  a.href = baseurl.replace(/\/$/, "") + a.pathname;
              }
            }
          }
        })();
      </script>

      <script>
        // Update links about AtCoder IDs.
        (function () {
          for (const tag of document.getElementsByClassName("handle")) {
            tag.classList.add("user-" + tag.textContent);
            tag.href = "https://atcoder.jp/users/" + tag.textContent;
          }
        })();
      </script>

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
