---
layout: default
---

{% if page.draft %}
<div style="color: red;">
    このページは下書きです。5 秒後に自動的にトップページ (<a href="{{ site.url }}">{{ site.url }}</a>) にリダイレクトされます。リダイレクトを抑止したい場合は <code>#noredirect</code> を付けた URL <a href="#noredirect">{{ page.url | relative_url }}#noredirect</a> を利用してください。
</div>
<script>
    setTimeout(function () {
        if (!location.href.match("noredirect")) {
            location.href = "{{ site.url }}";
        }
    }, 5000);
</script>
{% endif %}

<div class="algorithm-data">
<dl>
    <dt>name</dt><dd>{{ page.title }}</dd>
    <dt>short description</dt><dd>{{ page.description }}</dd>
{% if page.algorithm %}
    {% if page.algorithm.input %}<dt>input</dt><dd>{{ page.algorithm.input }}</dd>{% endif %}
    {% if page.algorithm.pre_condition %}<dt>pre-condition</dt><dd>{{ page.algorithm.pre_condition }}</dd>{% endif %}
    {% if page.algorithm.output %}<dt>output</dt><dd>{{ page.algorithm.output }}</dd>{% endif %}
    {% if page.algorithm.post_condition %}<dt>post-condition</dt><dd>{{ page.algorithm.post_condition }}</dd>{% endif %}
    {% if page.algorithm.condition %}<dt>condition</dt><dd>{{ page.algorithm.condition }}</dd>{% endif %}
    {% if page.algorithm.time_complexity %}<dt>time complexity</dt><dd>{{ page.algorithm.time_complexity }}</dd>{% endif %}
    {% if page.algorithm.space_complexity %}<dt>space complexity</dt><dd>{{ page.algorithm.space_complexity }}</dd>{% endif %}
    {% if page.algorithm.aliases %}<dt>aliases</dt>{% for alias in page.algorithm.aliases %}<dd>{{ alias }}</dd>{% endfor %}{% endif %}
{% endif %}
</dl>
</div>
<hr>

{{ content }}

<hr>

<div class="footer-links">
    <a href="{{ site.github.repository_url }}/commits/{{ site.github.source.branch }}/{{ page.path }}">View history</a>
    /
    <a href="{{ site.github.issues_url }}">Report issues</a>
    /
    <a href="{% github_edit_link %}">Edit this page</a>
</div>

<div class="entry-metadata">
<dl>
    <dt>authors</dt>{% if page.authors %}{% for author in page.authors %}<dd><a class="handle">{{ author }}</a></dd>{% endfor %}{% else %}<dd><span class="no-authors">none</span></dd>{% endif %}
    <dt>reviewers</dt>{% if page.reviewers %}{% for reviewer in page.reviewers %}<dd><a class="handle">{{ reviewer }}</a></dd>{% endfor %}{% else %}<dd><span class="no-reviewers">none</span></dd>{% endif %}
    <dt>tags</dt>{% for tag in page.tags %}<dd>{{ tag }}</dd>{% endfor %}
    <dt>created at</dt><dd>{{ page.date | date_to_string }}</dd>
    {% if page.updated_at %}<dt>updated at</dt><dd>{{ page.updated_at | date_to_string }}</dd>{% endif %}
    <dt>license</dt><dd><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</dd>
</dl>
</div>
