---
layout: default
---

{% if page.algorithm %}
<div class="algorithm-data">
<dl>
    <dt>name</dt><dd>{{ page.title }}</dd>
    <dt>short description</dt><dd>{{ page.description }}</dd>
    {% if page.algorithm.input %}<dt>input</dt><dd>{{ page.algorithm.input }}</dd>{% endif %}
    {% if page.algorithm.pre_condition %}<dt>pre-condition</dt><dd>{{ page.algorithm.pre_condition }}</dd>{% endif %}
    {% if page.algorithm.output %}<dt>output</dt><dd>{{ page.algorithm.output }}</dd>{% endif %}
    {% if page.algorithm.post_condition %}<dt>post-condition</dt><dd>{{ page.algorithm.post_condition }}</dd>{% endif %}
    {% if page.algorithm.condition %}<dt>condition</dt><dd>{{ page.algorithm.condition }}</dd>{% endif %}
    {% if page.algorithm.time_complexity %}<dt>time complexity</dt><dd>{{ page.algorithm.time_complexity }}</dd>{% endif %}
    {% if page.algorithm.space_complexity %}<dt>space complexity</dt><dd>{{ page.algorithm.space_complexity }}</dd>{% endif %}
    {% if page.algorithm.aliases %}<dt>aliases</dt>{% for alias in page.algorithm.aliases %}<dd>{{ alias }}</dd>{% endfor %}{% endif %}
</dl>
</div>
<hr>
{% endif %}

{{ content }}

<hr>

<div class="github-links">
    <a href="{{ site.github.repository_url }}/commits/{{ site.github.source.branch }}/{{ page.path }}">View history</a>
    /
    <a href="{{ site.github.issues_url }}">Report issues</a>
    /
    <a href="{% github_edit_link %}">Edit this page</a>
</div>

<div class="entry-metadata">
<dl>
    <dt>author</dt><dd><a href="https://atcoder.jp/users/{{ page.author }}" class="rating-color-{{ page.author }}">{{ page.author }}</a></dd>
    <dt>reviewers</dt>{% if page.reviewers %}{% for reviewer in page.reviewers %}<dd><a href="https://atcoder.jp/users/{{ reviewer }}" class="rating-color-{{ reviewer }}">{{ reviewer }}</a></dd>{% endfor %}{% else %}<dd><span class="no-reviewer">none</span></dt>{% endif %}
    <dt>tags</dt>{% for tag in page.tags %}<dd>{{ tag }}</dd>{% endfor %}
    <dt>created at</dt><dd>{{ page.date | date_to_string }}</dd>
    {% if page.updated_at %}<dt>updated at</dt><dd>{{ page.updated_at | date_to_string }}</dd>{% endif %}
    <dt>license</dt><dd><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</dd>
</dl>
</div>
